.header__logo {
  width: 142px;
  margin-bottom: 38px;
  transition: .2s linear;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 104px;
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 575px) {
  .header__logo {
    margin-left: 27px;
  }
}
